<section class="iswl-info off-form-group">
    <div class="ff-row">
        <h2 class="ff-col" id="policy-info">2. Policy Info</h2>
    </div>

    <div class="ff-row">
        <div class="ff-col-1of2">
            <label class="ff-label">Face Amount <input type="radio" name="policy-face-amount-or-premium" value="F"></label>
            <input type="text" name="policy-face-amount" class="ff-input" placeholder="50,000">
        </div>

        <div class="ff-col-1of2">
            <label class="ff-label">Annual Premium <input type="radio" name="policy-face-amount-or-premium" value="P"></label>
            <input type="text" name="policy-premium-amount" class="ff-input" placeholder="1,486">
        </div>
    </div>

    <div class="ff-row">
        <div class="ff-col-1of2">
            <label class="ff-label">Mode</label>
            <select name="policy-premium-mode" class="ff-input">
                <option value="">Annual</option>
                <option value="">Semi-Annual</option>
                <option value="">Quarterly</option>
                <option value="">Life Line</option>
            </select>
        </div>

        <div class="ff-col-1of2">
            <label class="ff-label">Class</label>
            <select name="policy-class" class="ff-input">
                <option value="ST">Standard</option>
                <option value="PR">Preferred</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="F">F</option>
                <option value="H">H</option>
                <option value="J">J</option>
                <option value="L">L</option>
                <option value="P">P</option>
            </select>
        </div>
    </div>

    <div class="ff-row">
        <div class="ff-col-1of2">
            <label class="ff-label">
                <input type="checkbox" name="policy-suspend-premium">
                Suspend Premium
            </label>
        </div>

        <div class="ff-col-1of2">
            <label class="ff-label">Tobacco</label><br>
            <input type="radio" class="" name="policy-tobacco-use" id="tottle-tobacco-y" value="Y"> <label class="ff-label" for="tottle-tobacco-y">Tobacco</label>
            <input type="radio" class="" name="policy-tobacco-use" id="tottle-tobacco-n" value="N"> <label class="ff-label" for="tottle-tobacco-n">Non-Tobacco</label>

        </div>
    </div>
</section>
