<section class="isp3-info ff-form-group">
    <div class="ff-row">
        <h2 class="ff-col" id="policy-info">2. Policy Info</h2>
    </div>

    <div class="ff-row">
        <div class="ff-col-1of2">
            <label class="ff-label">Face Amount <input type="radio" name="policy-face-amount-or-premium" value="F"></label>
            <input type="text" name="policy-face-amount" class="ff-input" placeholder="50,000">
        </div>

        <div class="ff-col-1of2">
            <label class="ff-label">Premium <input type="radio" name="policy-face-amount-or-premium" value="P"></label>
            <input type="text" name="policy-premium-amount" class="ff-input" placeholder="1,486">
        </div>
    </div>

    <div class="ff-row">
        <div class="ff-col-1of2">
            <label class="ff-label">Premium Mode</label>
            <select name="policy-premium-mode" class="ff-input">
                <option value="">Annual</option>
                <option value="">Semi-Annual</option>
                <option value="">Quarterly</option>
                <option value="">Life Line</option>
            </select>
        </div>

        <div class="ff-col-1of2">
            <label class="ff-label">Fixed Account %</label>
            <input type="text" name="policy-fixed-account-percent" class="ff-input" placeholder="0">
        </div>
    </div>

    <div class="ff-row">
        <div class="ff-col-1of2">
            <label class="ff-label">Class</label>
            <select name="policy-class" class="ff-input">
                <option value="">Preferred Plus</option>
                <option value="">Preferred</option>
                <option value="">Standard Non-Tobacco (including Juvenile)</option>
                <option value="">Standard Tobacco</option>
            </select>
        </div>

        <div class="ff-col-1of2">
            <label class="ff-label">Sub-standard Rating</label>
            <select name="policy-sub-standard-rating" class="ff-input">
                <option value=""></option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="F">F</option>
                <option value="H">H</option>
                <option value="J">J</option>
                <option value="L">L</option>
                <option value="P">P</option>
            </select>
        </div>
    </div>
</section>
