<section class="iswl-info ff-form-group">
    <div class="ff-row">
        <h2 class="ff-col" id="loans">4. Loan</h2>
    </div>

    <div class="ff-row">
        <div class="ff-col">
            <label class="ff-label">
                <input type="checkbox" name="loan" value="Y" class="loan-checkbox">
                Loan
            </label>
        </div>
    </div>

    <div class="ff-row loan-info">
        <div class="ff-col">
            <table class="ff-table">
                <thead>
                    <tr>
                        <th>Policy Year</th>
                        <th>Attained Age</th>
                        <th>Amount</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>1</td>
                        <td>36</td>
                        <td><input type="text" name="loan_amount[1]" value="$0.00" class="ff-input"></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>37</td>
                        <td><input type="text" name="loan_amount[2]" value="$0.00" class="ff-input"></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>38</td>
                        <td><input type="text" name="loan_amount[3]" value="$0.00" class="ff-input"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="ff-row loan-info">
        <div class="ff-col">
            <button class="ff-button ff-button--danger">Clear Loan Balance</button>
        </div>
    </div>
</section>
