{% extends 'layouts/standard.twig' %}

{% import 'macros/html.twig' as html %}

{% set selected_tab = 'generate' %}

{% block title null %}

{% block scripts %}

    {{ html.script('/assets/vendor/foresters/js/FliacIndex.js', true) }}
{% endblock %}

{% block content %}
    <div class="ff-box ff-bg-plum ff-float-right">
        <ol>
            <li><a href="#customer-info">Customer Info</a></li>
            <li><a href="#policy-info">Policy Info</a></li>
            <li class="isp3-info"><a href="#riders-benefits">Riders/Benefits</a></li>
            <li class="iswl-info"><a href="#riders">Riders</a></li>
            <li class="iswl-info"><a href="#loans">Loans</a></li>
        </ol>

        <div class="ffx-bb-gray-1 ffx-py-1">
            <button class="ff-button run-illustration-button">Run Illustration</button>
        </div>

        <div class="ff-box-heading">Summary</div>
        <div><span class="ff-label">Product</span> <span class="summary-product"></span></div>
        <div><span class="ff-label">Face Amount</span> <span class="summary-face-amount"></span></div>
        <div><span class="ff-label">Premium</span> <span class="summary-premium"></span></div>
        <div><span class="ff-label">Riders</span> <span class="summary-riders"></span></div>
    </div>

    <form action="" id="illustration-form-all" class="ffx-py-1 ffx-container" style="margin-right: 25rem;">
        <section>
            <div class="ff-row ff-box ff-bg-plum">
                <div class="ff-col">
                    <label class="ff-label">Product:</label>

                    <select name="product" class="ff-input ff-input--inline select-product">
                        <option value="ISP3-CHOICE-15">ISP3 Choice 15</option>
                        <option value="ISP3-CHOICE-WHILE-LIFE">ISP3 Choice While Life</option>
                        <option value="ISP3-CHOICE-WHILE-LIFE-EXPRESS">ISP3 Choice While Life Express</option>
                        <option value="ISWL-2-3.50">ISWL-2 3.50%</option>
                    </select>
                </div>
            </div>
        </section>

        <!-- 1. Client Info -->
        {% include 'illustration/1-client-info.twig' %}

        <!-- 2. Policy Info (ISP3) -->
        {% include 'illustration/2-policy-info-isp3.twig' %}

        <!-- 2. Policy Info (ISWL) -->
        {% include 'illustration/2-policy-info-iswl.twig' %}

        <!-- 3. Riders/Benefits (ISP3) -->
        {% include 'illustration/3-riders-benefits-isp3.twig' %}

        <!-- 3. Riders (ISWL) -->
        {% include 'illustration/3-riders-iswl.twig' %}

        <!-- 4. Loans (ISWL) -->
        {% include 'illustration/4-loan.twig' %}
    </form>
{% endblock %}
