{% extends 'layouts/error.twig' %}

{% block title 'System error' %}

{% block content %}
    <p>Sorry, we could not complete your request due to an internal system error. Administrators have been notified. Please try again later.</p>

    <p><a href="javascript:history.back()" class="ff-button">Go back</a></p>
{% endblock %}
