{% extends 'layouts/error.twig' %}

{% block title 'Page not found' %}

{% block content %}
    <p>Sorry, the page you requested could not be found.</p>

    <p>If you reached this page from a Foresters Financial website, please <a href="/support.php">contact the IT Department</a>.</p>

    <p><a href="javascript:history.back()" class="ff-button">Go back</a></p>
{% endblock %}
