{% extends 'layouts/standard.twig' %}

{% import 'macros/html.twig' as html %}

{% set selected_tab = 'agents' %}

{% block title 'Agents' %}

{% block scripts %}

    {{ html.script('/assets/vendor/foresters/js/AgentIndex.js', true) }}
{% endblock %}

{% block content %}
    <table class="ff-table agent-table">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Agent</th>
                <th>Company</th>
                <th colspan="3">Location</th>
            </tr>
        </thead>

        <tbody>
            <tr class="no-agents">
                <td colspan="3">No agents to list</td>
            </tr>
        </tbody>
    </table>

    <button class='ff-button add-agent-button'>Add</button>
{% endblock %}
